#
# Apache/PHP/Drupal settings:
#

# Protect files and directories from prying eyes.
<FilesMatch "\.(engine|inc|install|make|module|profile|po|sh|.*sql|theme|twig|tpl(\.php)?|xtmpl|yml)(~|\.sw[op]|\.bak|\.orig|\.save)?$|^(\.(?!well-known).*|Entries.*|Repository|Root|Tag|Template|composer\.(json|lock))$|^#.*#$|\.php(~|\.sw[op]|\.bak|\.orig|\.save)$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
  <IfModule !mod_authz_core.c>
    Order allow,deny
  </IfModule>
</FilesMatch>

# Don't show directory listings for URLs which map to a directory.
Options -Indexes

# Set the default handler.
DirectoryIndex index.php index.html index.htm

# Add correct encoding for SVGZ.
AddType image/svg+xml svg svgz
AddEncoding gzip svgz

# Most of the following PHP settings cannot be changed at runtime. See
# sites/default/default.settings.php and
# Drupal\Core\DrupalKernel::bootEnvironment() for settings that can be
# changed at runtime.

# PHP 5, Apache 1 and 2.
<IfModule mod_php5.c>
  php_value assert.active                   0
  php_flag session.auto_start               off
  php_value mbstring.http_input             pass
  php_value mbstring.http_output            pass
  php_flag mbstring.encoding_translation    off
  # PHP 5.6 has deprecated $HTTP_RAW_POST_DATA and produces warnings if this is
  # not set.
  php_value always_populate_raw_post_data   -1
</IfModule>

# Requires mod_expires to be enabled.
<IfModule mod_expires.c>
  # Enable expirations.
  ExpiresActive On

  # Cache all files for 2 weeks after access (A).
  ExpiresDefault A1209600

  <FilesMatch \.php$>
    # Do not allow PHP scripts to be cached unless they explicitly send cache
    # headers themselves. Otherwise all scripts would have to overwrite the
    # headers set by mod_expires if they want another caching behavior. This may
    # fail if an error occurs early in the bootstrap process, and it may cause
    # problems if a non-Drupal PHP file is installed in a subdirectory.
    ExpiresActive Off
  </FilesMatch>
</IfModule>

# Set a fallback resource if mod_rewrite is not enabled. This allows Drupal to
# work without clean URLs. This requires Apache version >= 2.2.16. If Drupal is
# not accessed by the top level URL (i.e.: http://example.com/drupal/ instead of
# http://example.com/), the path to index.php will need to be adjusted.
<IfModule !mod_rewrite.c>
  FallbackResource /index.php
</IfModule>

# Various rewrite rules.
<IfModule mod_rewrite.c>
  RewriteEngine on

  # Oldsite 301 redirects
  RewriteRule ^assets/rss/latest/PROFILES.*$ /partnering-opportunities   [R=301,L]
  RewriteRule ^ckfinder/userfiles/public/WCB102%20Business%20Support%20Guidance%20Doc.pdf /how-can-we-help    [R=301,L]
  RewriteRule ^contact/   /contact-us [R=301,L]
  RewriteRule ^content/about_enterprise_europe_network_uk/    /how-can-we-help    [R=301,L]
  RewriteRule ^content/about_enterprise_europe_network_uk/.*$  /how-can-we-help    [R=301,L]
  RewriteRule ^content/blog/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/06/_neween___digital_principles_and_approach_to_get_there/   /latest [R=301,L]
  RewriteRule ^content/blog/2015/06/the_it_world_came_to_london__this_is_what_we_learnt/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/07/job_opportunity_in_london/    /latest [R=301,L]
  RewriteRule ^content/blog/2015/07/users_inform_the_fixes/   /latest [R=301,L]
  RewriteRule ^content/blog/2015/08/website_style_guide/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/09/better_serving_een_clients_with_an_enhanced_back_office_13/   /latest [R=301,L]
  RewriteRule ^content/blog/2015/09/improving_the_website_sign_up_process_15/ /latest [R=301,L]
  RewriteRule ^content/blog/2015/09/job_opportunity_in_east_of_england_14/    /latest [R=301,L]
  RewriteRule ^content/blog/2015/10/user_satisfaction_is_pretty_good_16/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/next_generation_website__1st_week_of__discovery__18/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/next_generation_website__2nd_week_of__discovery__20/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/next_generation_website__3rd_week_of__discovery__21/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/next_generation_website__4th_week_of__discovery__22/  /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/top_5_food_and_beverage_trends_for_2015_17/   /latest [R=301,L]
  RewriteRule ^content/blog/2015/11/with_spread_out_partners__how_will_crm_be_successful__19/ /latest [R=301,L]
  RewriteRule ^content/blog/2015/12/next_generation_website__5th_week_of__discovery__23/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/01/7_seminars_for_startups_33/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/01/adapting_products_for_new_markets__3_key_considerations_24/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/01/improving_entrepreneurs__marketing_skills_25/ /blog/free-marketing-workshop-successful-entrepreneurs  [R=301,L]
  RewriteRule ^content/blog/2016/01/need_to_take_on_employees_in_europe__we_can_show_you_how___26/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/01/reaching_out_to_new_markets___how_we_can_help_27/ /latest [R=301,L]
  RewriteRule ^content/blog/2016/02/business_funding_show___3_bits_of_advice_from_delegates_28/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/02/virtual_reality_now_reality__29/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/03/eu___creative___cultural_industries_in_wales_30/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/03/the_een_intelligent_energy_sector_group_34/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/03/trade_mission_to_romania_31/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/04/business_brokerage_events___can_you_afford_to_miss_out__40/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/04/i2s_innovation_coaching_helps_sw_company_secure_investment_39/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/04/innovation_management_specification_explained_36/ /latest [R=301,L]
  RewriteRule ^content/blog/2016/04/tips_to_apply_for_european_business_funding_35/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/04/why_attending_our_annual_conference_is_good_for_my_clients_37/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/05/inspiring_innovation_with_dr_ruth_mckernan_42/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/05/serving_human_spaceflight__blue_abyss_and_its_deep_pool_41/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/05/tips_for_winning_horizon_2020_proposals_45/   /blog/top-tips-creating-winning-horizon-2020-proposal   [R=301,L]
  RewriteRule ^content/blog/2016/06/meeting_potential_business_partners__don_t_forget_ip_44/  /blog/who-owns-what-guide-safeguarding-ip-business-partnerships [R=301,L]
  RewriteRule ^content/blog/2016/07/brexit_britain__still_doing_international_business_48/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/07/brexit__implications_and_opportunities_for_research_46/   /latest [R=301,L]
  RewriteRule ^content/blog/2016/07/brexit___the_uk_s_role_in_developing_future_standards_49/ /blog/brexit-uks-role-future-standards  [R=301,L]
  RewriteRule ^content/blog/2016/07/space_business_incubator_launches_in_north_wales_47/  /blog/space-business-incubator-launches-north-wales [R=301,L]
  RewriteRule ^content/blog/2016/08/5_top_tips_for_getting_the_most_out_of_venturefest_51/    /blog/5-top-tips-getting-most-out-venturefest   [R=301,L]
  RewriteRule ^content/blog/2016/08/how_to_find_horizon_2020_project_partners_52/ /latest [R=301,L]
  RewriteRule ^content/blog/2016/08/innovate_uk_funds__connects_and_now__regional_presences_53/   /blog/innovate-uk-funds-and-now-connects-through-regional-presences [R=301,L]
  RewriteRule ^content/blog/2016/09/east_midlands_business_funding_58/    /blog/business-funding-solutions-east-midlands-go-global    [R=301,L]
  RewriteRule ^content/blog/2016/10/save_money_and_grow_your_business_by_going_green_54/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/10/standards_for_innovation_management__why_they_re_important_55/    /latest [R=301,L]
  RewriteRule ^content/blog/2016/10/your_invitation_to_innovate_2016_59/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/11/innovate_2016___some_of_the_best_bits_60/ /latest [R=301,L]
  RewriteRule ^content/blog/2016/11/key_autumn_statement_highlights_for_ambitious_businesses_61/  /latest [R=301,L]
  RewriteRule ^content/blog/2016/12/business_funding_from_online_sources_64/  /blog/handy-list-online-small-business-funding-sources  [R=301,L]
  RewriteRule ^content/blog/2016/12/european_standards_help_businesses_reach_new_heights_62/  /latest [R=301,L]
  RewriteRule ^content/blog/2017/01/changing_global_environment___opportunity_for_uk_smes_65/ /blog/worlds-changing-thats-opportunity-not-problem [R=301,L]
  RewriteRule ^content/blog/2017/01/industrial_strategy_open_for_consultation_66/ /latest [R=301,L]
  RewriteRule ^content/blog/2017/01/knowledge_transfer_network___links_to_specialist_groups_63/   /blog/handy-list-knowledge-transfer-network-sectors [R=301,L]
  RewriteRule ^content/blog/2017/02/inroads_into_romania_s_automotive_and_engineering_sectors_67/ /latest [R=301,L]
  RewriteRule ^content/blog/2017/02/intellectual_property__tapping_into_the_intangible_value_68/  /latest [R=301,L]
  RewriteRule ^content/blog/2017/03/budget_2017__a_perspective_for_ambitious_businesses_69/   /latest [R=301,L]
  RewriteRule ^content/blog/2017/03/empowering_women_in_innovation_73/    /latest [R=301,L]
  RewriteRule ^content/blog/2017/03/entrepreneurs_can_be_lonely___5_work_hacks_to_deal_with_it_71/    /latest [R=301,L]
  RewriteRule ^content/blog/2017/03/eu_data_protection_legislation_impacting_smes_72/ /latest [R=301,L]
  RewriteRule ^content/blog/2017/03/interview_with_innovate2succeed_customer__becky_sage__70/ /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/a_helping_hand_with_assessment_for_learning_78/   /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/british_standards_and_brexit_76/  /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/empower_your_workforce_to_boost_your_business__innovation_74/ /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/hidden_grants_opportunities_for_smes_77/  /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/iso50500_innovation_management_systems_75/    /latest [R=301,L]
  RewriteRule ^content/blog/2017/04/iso_5050x_innovation_management_systems__drafting_update_79/  /latest [R=301,L]
  RewriteRule ^content/blog/2017/07/7_questions_before_applying_for_innovation_funding_83/    /blog/7-questions-applying-innovation-funding   [R=301,L]
  RewriteRule ^content/blog/2017/07/how_much_are_your_creative_assets_worth__82/  /blog/how-much-are-your-creative-assets-worth   [R=301,L]
  RewriteRule ^content/blog/2017/07/seeking_investment__it_s_about_the_right_place_and_people_81/ /blog/seeking-investment-its-about-right-place-and-people   [R=301,L]
  RewriteRule ^content/blog/2017/08/doing_business_with_the_un___where_s_the_opportunity__89/ /blog/doing-business-un-wheres-opportunity  [R=301,L]
  RewriteRule ^content/blog/2017/08/help_to_finish_my_prototype__how_do_i_keep_my_idea_safe__87/  /blog/help-finish-my-prototype-how-do-i-keep-my-idea-safe   [R=301,L]
  RewriteRule ^content/blog/2017/08/how_to_define_market_opportunities_88/    /blog/how-define-market-opportunities   [R=301,L]
  RewriteRule ^content/blog/2017/08/i_have_novel_car_tech__where_can_i_get_automotive_funding__85/    /blog/i-have-novel-car-tech-where-can-i-get-automotive-funding  [R=301,L]
  RewriteRule ^content/blog/2017/08/i_m_about_to_apply_for_funding__will_it_make_the_cut__90/ /blog/im-about-apply-funding-will-it-make-cut-1 [R=301,L]
  RewriteRule ^content/blog/\?SelRegion=0  /latest [R=301,L]
  RewriteRule ^content/blog/\?SelRegion=3  /latest [R=301,L]
  RewriteRule ^content/blog/\?SelRegion=6  /latest [R=301,L]
  RewriteRule ^content/events.*$    /events [R=301,L]
  RewriteRule ^content/news/  /latest [R=301,L]
  RewriteRule ^content/news/.*$  /latest [R=301,L]
  RewriteRule ^content/our_services/  /how-can-we-help    [R=301,L]
  RewriteRule ^content/our_services/access_to_funding_and_finance/    /services/access-finance    [R=301,L]
  RewriteRule ^content/our_services/access_to_funding_and_finance/Horizon_2020/   /services/access-finance    [R=301,L]
  RewriteRule ^content/our_services/entrepreneurial_skills_training__enterprise_europe_network__uk_/  wwwenterprise-europe.co.uk  [R=301,L]
  RewriteRule ^content/our_services/eu_law/   /services/advisers-worldwide    [R=301,L]
  RewriteRule ^content/our_services/eu_law___advice_and_how_to_influence/ /services/advisers-worldwide    [R=301,L]
  RewriteRule ^content/our_services/going_international/  /services/move-new-markets  [R=301,L]
  RewriteRule ^content/our_services/grow_further_and_scale_up/    /services/grow-further-and-scale    [R=301,L]
  RewriteRule ^content/our_services/harness_our_scope_and_reach/  /services/advisers-worldwide    [R=301,L]
  RewriteRule ^content/our_services/innovate2succeed/ /services/innovate-grow [R=301,L]
  RewriteRule ^content/our_services/innovate2succeed___managing_innovation_for_growth/    /services/innovate-grow [R=301,L]
  RewriteRule ^content/our_services/intellectual_property_and_patents/    /services/advisers-worldwide    [R=301,L]
  RewriteRule ^content/our_services/technology_transfer/  /services/find-trusted-partners [R=301,L]
  RewriteRule ^content/our_services/your_account___profile_alerts/    /services/find-trusted-partners [R=301,L]
  RewriteRule ^content/search/    /partnering-opportunities   [R=301,L]
  RewriteRule ^content/search/latest_partnering_profiles/ /partnering-opportunities   [R=301,L]
  RewriteRule ^content/search/latest_partnering_profiles/?gs=1    /partnering-opportunities   [R=301,L]
  RewriteRule ^content/search/latest_partnering_profiles/rss/ /partnering-opportunities   [R=301,L]
  RewriteRule ^content/search/profiles/[0-9]+/[0-9]+/[0-9]+/([0-9A-Z]+)(-.*$)    /opportunities/$1?  [R=301,L]
  RewriteRule ^content/search/your_account___profile_alerts/  /partnering-opportunities   [R=301,L]
  RewriteRule ^content/sign-in/   /#signin-popup  [R=301,L]
  RewriteRule ^content/sign-up/   /#signin-popup  [R=301,L]
  RewriteRule ^content/success-stories/2015/04/cooling_therapies_export_success_began_with_een_search_3/  /success-story/cooling-therapies-export-success-began-een-search    [R=301,L]
  RewriteRule ^content/success-stories/2015/09/design_firm_flourishes_in_new_markets_with_novel_vase_11/  /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/09/digital_platform_spreads_the_word_on_cancer_knowledge_19/  /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/09/kr_trauma_support_secures__50k_grant_through_horizon_2020_17/  /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/09/london_sme_mullarch_makes__34m_thanks_to_enterprise_europe_network_12/ /success-story/london-sme-mullarch-makes-34m-thanks-enterprise-europe-network   [R=301,L]
  RewriteRule ^content/success-stories/2015/10/digishare360_brokers_digital_technology_link_with_poland_24/   /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/10/digital_software_firm_wins__430_000_for_tv_innovation_21/  /success-story/digital-software-firm-wins-eu430000-tv-innovation    [R=301,L]
  RewriteRule ^content/success-stories/2015/10/european_funding_for_innovative_plastic_waste_management_technology_22/    /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/10/itsa_goal_posts_kicks_off_its_journey_in_international_markets_thanks_to_een_25/   /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/10/northern_ireland_sme_identifies_a_german_partner_to_help_grow_exports_in_their_market__23/ /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/10/uk_dutch_contact_blossoms_into_joint_venture_26/   /latest [R=301,L]
  RewriteRule ^content/success-stories/2015/11/hydrogen_highway_set_to_expand_28/ /latest [R=301,L]
  RewriteRule ^content/success-stories/2016/07/academics_attract__10_5m_for_bio_refinery_collaboration_32/    /latest [R=301,L]
  RewriteRule ^content/success-stories/2016/07/een_opportunities_in_ireland_for_digital_signage_specialist_34/    /latest [R=301,L]
  RewriteRule ^content/success-stories/2016/07/seastar_survey_widens_horizons_33/ /success-story/seastar-survey-widens-horizons   [R=301,L]
  RewriteRule ^content/success-stories/2016/07/virtual_reality_innovators_secure_seed_funding_35/ /latest [R=301,L]
  RewriteRule ^content/success-stories/2016/09/blue_abyss_a_lure_for_marine_and_space_research_36/    /success-story/blue-abyss-lure-marine-and-space-research    [R=301,L]
  RewriteRule ^content/success-stories/2016/10/bio_composite_wood_product_offers_a_green_alternative_40/  /success-story/bio-composite-wood-product-offers-green-alternative  [R=301,L]
  RewriteRule ^content/success-stories/2016/10/sensor_technology_can_get_blind_people_safely_on_the_move_38/  /success-story/sensor-technology-can-get-blind-people-safely-move   [R=301,L]
  RewriteRule ^content/success-stories/2016/10/sugarwise_kite_mark_finds_a_healthy_market_39/ /success-story/sugarwise-kite-mark-finds-healthy-market [R=301,L]
  RewriteRule ^content/success-stories/2016/10/telling_a_story_of_innovation_in_language_learning_37/ /latest [R=301,L]
  RewriteRule ^content/success-stories/2017/01/digital_exhibitions_offer_a_new_window_on_art_46/  /success-story/digital-exhibitions-offer-new-window-art [R=301,L]
  RewriteRule ^content/success-stories/2017/01/fit_out_orders_boost_growth_at_suffolk_superyacht_experts_47/  /success-story/fit-out-orders-boost-growth-suffolk-superyacht-experts   [R=301,L]
  RewriteRule ^content/success-stories/2017/01/micro_high_fidelity_earbuds_translate_into_worldwide_orders_45/    /success-story/micro-high-fidelity-earbuds-translate-worldwide-orders   [R=301,L]
  RewriteRule ^content/success-stories/2017/01/smart_energy_innovator_explores_global_markets_44/ /success-story/smart-energy-innovator-explores-global-markets   [R=301,L]
  RewriteRule ^content/success-stories/2017/02/gripeeze_extends_its_reach_to_the_czech_market_48/ /success-story/gripeeze-extends-its-reach-czech-market  [R=301,L]
  RewriteRule ^content/success-stories/2017/03/c4_carbides_delivers_a_cutting_edge_49/    /success-story/c4-carbides-delivers-cutting-edge    [R=301,L]
  RewriteRule ^content/success-stories/2017/07/a_new_blueprint_captures__human_on_a_chip__52/ /success-story/new-blueprint-captures-human-chip    [R=301,L]
  RewriteRule ^content/success-stories/2017/08/bradford_beauty_products_firm_breaks_into_south_african_market_55/ /success-story/bradford-beauty-products-firm-breaks-south-african-market    [R=301,L]
  RewriteRule ^content/success-stories/2017/08/david_prepares_to_go_to_market_with_ground_breaking_organic_seedmat_53/    /success-story/david-prepares-go-market-ground-breaking-organic-seedmat [R=301,L]
  RewriteRule ^content/success-stories/2017/08/far_seeing_animal_health_radiology_business_spreads_its_wings_54/  /success-story/far-seeing-animal-health-radiology-business-spreads-its-wings    [R=301,L]
  RewriteRule ^content/success-stories/2017/08/inventor_finds_test_partners_for_portable_flood_prevention_device_56/  /success-story/inventor-finds-test-partners-portable-flood-prevention-device    [R=301,L]
  RewriteRule ^content/success-stories/2017/08/rapid_growth_means_more_jobs_at_full_service_manufacturer_58/  /success-story/rapid-growth-means-more-jobs-full-service-manufacturer   [R=301,L]
  RewriteRule ^content/success-stories/2017/08/software_firm_makes_smart_approach_to_euro_aerospace_clusters_57/  /success-story/software-firm-makes-smart-approach-euro-aerospace-clusters   [R=301,L]
  RewriteRule ^ProfileImages/BOHU20170510001/applications_reference.pdf   /partnering-opportunities   [R=301,L]
  RewriteRule ^ProfileImages/BOHU20170510001/introduction.pdf /partnering-opportunities   [R=301,L]
  RewriteRule ^ProfileImages/BOHU20170510001/web_references.pdf   /partnering-opportunities   [R=301,L]
  RewriteRule ^ProfileImages/BOIE20170409001/Briefcase%20images%202..docx /partnering-opportunities   [R=301,L]
  RewriteRule ^ProfileImages/BOIE20170409001/Briefcase%20images.docx    /partnering-opportunities   [R=301,L]
  RewriteRule ^ProfileImages/BOPT20160831002/Photo%20liquors%20and%20beer.pdf   /partnering-opportunities   [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2644/public/6931_20%20UN%20Procurement%20Trade%20mission.pdf  /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2722/public/A%2BA2017_factsheet%20(003).pdf   /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2724/public/Procurement%20masterclass%20-%20construction.pdf    /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2725/public/Procurement%20masterclass.pdf   /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2764/public/EU%20Company%20mission%20to%20Nigeria%20FINAL.pdf   /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2766/public/Pitching%20for%20International%20Success%20-%20final.pdf    /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2769/public/6902_20%20Marketplace%20Austria%20Food%202017%20(3).pdf /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2790/public/SCANNED%20sign-in%20sheet%20-%20Hainsworth%20visit.pdf  /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2807/public/Vietnam%20Trade%20Mission%202018.pdf    /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/EVENTS/2809/public/6963_20%20EEN%20IPR%20in%20South%20East%20Asia%203.pdf  /events [R=301,L]
  RewriteRule ^sct/assets/documents/uploaded/NEWS/5539/public/Sources%20of%20Finance%20latest%20issue.pdf /latest [R=301,L]
  RewriteRule ^network    /services/advisers-worldwide    [R=301,L]
  RewriteRule ^innovate   /services/innovate-grow [R=301,L]
  RewriteRule ^finance    /services/access-finance    [R=301,L]
  RewriteRule ^partners   /services/find-trusted-partners [R=301,L]
  RewriteRule ^markets    /services/move-new-markets  [R=301,L]
  RewriteRule ^scale/  /services/grow-further-and-scale    [R=301,L]
  RewriteRule ^event/(.*) /events/$1 [R=301,L]
  RewriteRule ^opportunity/(.*)    /opportunities/$1 [R=301,L]
  RewriteRule ^search-tags/(.*)$ /search/$1 [R=301,NC,L]
  RewriteRule ^blog/Announcing-Global-Business-Accelerator-programme /blog/Announcing-phase-2-Global-Business-Accelerator-Programme [R=301,L]
  RewriteRule ^terms-and-conditions  /privacy-notice   [R=301,L]

  # Set "protossl" to "s" if we were accessed via https://.  This is used later
  # if you enable "www." stripping or enforcement, in order to ensure that
  # you don't bounce between http and https.
  RewriteRule ^ - [E=protossl]
  RewriteCond %{HTTPS} on
  RewriteRule ^ - [E=protossl:s]

  # Make sure Authorization HTTP header is available to PHP
  # even when running as CGI or FastCGI.
  RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

  # Block access to "hidden" directories whose names begin with a period. This
  # includes directories used by version control systems such as Subversion or
  # Git to store control files. Files whose names begin with a period, as well
  # as the control files used by CVS, are protected by the FilesMatch directive
  # above.
  #
  # NOTE: This only works when mod_rewrite is loaded. Without mod_rewrite, it is
  # not possible to block access to entire directories from .htaccess because
  # <DirectoryMatch> is not allowed here.
  #
  # If you do not have mod_rewrite installed, you should remove these
  # directories from your webroot or otherwise protect them from being
  # downloaded.
  RewriteRule "/\.|^\.(?!well-known/)" - [F]

  # If your site can be accessed both with and without the 'www.' prefix, you
  # can use one of the following settings to redirect users to your preferred
  # URL, either WITH or WITHOUT the 'www.' prefix. Choose ONLY one option:
  #
  # To redirect all users to access the site WITH the 'www.' prefix,
  # (http://example.com/foo will be redirected to http://www.example.com/foo)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} .
  # RewriteCond %{HTTP_HOST} !^www\. [NC]
  # RewriteRule ^ http%{ENV:protossl}://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
  #
  # To redirect all users to access the site WITHOUT the 'www.' prefix,
  # (http://www.example.com/foo will be redirected to http://example.com/foo)
  # uncomment the following:
  # RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  # RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]

  # Modify the RewriteBase if you are using Drupal in a subdirectory or in a
  # VirtualDocumentRoot and the rewrite rules are not working properly.
  # For example if your site is at http://example.com/drupal uncomment and
  # modify the following line:
  # RewriteBase /drupal
  #
  # If your site is running in a VirtualDocumentRoot at http://example.com/,
  # uncomment the following line:
  # RewriteBase /

  # Redirect common PHP files to their new locations.
  RewriteCond %{REQUEST_URI} ^(.*)?/(install.php) [OR]
  RewriteCond %{REQUEST_URI} ^(.*)?/(rebuild.php)
  RewriteCond %{REQUEST_URI} !core
  RewriteRule ^ %1/core/%2 [L,QSA,R=301]

  # Rewrite install.php during installation to see if mod_rewrite is working
  RewriteRule ^core/install.php core/install.php?rewrite=ok [QSA,L]

  # Pass all requests not referring directly to files in the filesystem to
  # index.php.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

  # For security reasons, deny access to other PHP files on public sites.
  # Note: The following URI conditions are not anchored at the start (^),
  # because Drupal may be located in a subdirectory. To further improve
  # security, you can replace '!/' with '!^/'.
  # Allow access to PHP files in /core (like authorize.php or install.php):
  RewriteCond %{REQUEST_URI} !/core/[^/]*\.php$
  # Allow access to test-specific PHP files:
  RewriteCond %{REQUEST_URI} !/core/modules/system/tests/https?.php
  # Allow access to Statistics module's custom front controller.
  # Copy and adapt this rule to directly execute PHP files in contributed or
  # custom modules or to run another PHP application in the same directory.
  RewriteCond %{REQUEST_URI} !/core/modules/statistics/statistics.php$
  # Deny access to any other PHP files that do not match the rules above.
  # Specifically, disallow autoload.php from being served directly.
  RewriteRule "^(.+/.*|autoload)\.php($|/)" - [F]

  # Rules to correctly serve gzip compressed CSS and JS files.
  # Requires both mod_rewrite and mod_headers to be enabled.
  <IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.css $1\.css\.gz [QSA]

    # Serve gzip compressed JS files if they exist and the client accepts gzip.
    RewriteCond %{HTTP:Accept-encoding} gzip
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    RewriteRule ^(.*)\.js $1\.js\.gz [QSA]

    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule \.css\.gz$ - [T=text/css,E=no-gzip:1]
    RewriteRule \.js\.gz$ - [T=text/javascript,E=no-gzip:1]

    <FilesMatch "(\.js\.gz|\.css\.gz)$">
      # Serve correct encoding type.
      Header set Content-Encoding gzip
      # Force proxies to cache gzipped & non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
  </IfModule>
</IfModule>

# Various header fixes.
<IfModule mod_headers.c>
  # Disable content sniffing, since it's an attack vector.
  Header always set X-Content-Type-Options nosniff
  # Disable Proxy header, since it's an attack vector.
  RequestHeader unset Proxy
</IfModule>
#Authtype Basic
#AuthName "Put whatever you want here"
#AuthUserFile /home/web/een/drupal/.htpasswd
#Require valid-user
