<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="./vendor/autoload.php"
        colors="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        stopOnFailure="true"
        syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Modules">
            <directory>modules/custom/elastic_search/test</directory>
            <directory>modules/custom/opportunities/test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhintitelist="true">
            <directory suffix=".php">modules/custom/elastic_search/src</directory>
            <directory suffix=".php">modules/custom/opportunities/src</directory>
        </whitelist>
    </filter>
</phpunit>
