<h1 class="heading-xlarge">{{ 'Find an opportunity'|t }}</h1>
{% if results %}
    {% for row in results %}
        <div class="row">
            <h3>
                <a href="{{ url('opportunities.details', {'profileId': row.id}) }}">
                    {{ row.title }}
                </a>
            </h3>
            <p>{{ row.summary }}</p>
        </div>
        <hr>
    {% endfor %}
{% endif %}
