<div class="grid-row">
    <div class="column-one-half">
        
        <h1 class="heading-large">Companies house search</h1>
        <form action="{{ form['#action'] }}" method="POST" class="form-opportunities">
            <div class="form-section">
                {{ form.description }}
            </div>

            <div class="form-section">
                {{ form.company_number }}
            </div>

            {{ form.actions }}
        </form>
        
    </div>
</div>