{% set params = {} %}
{% if search %}
    {% set params = params|merge({'search': search}) %}
{% endif %}
{% if opportunity_type %}
    {% set params = params|merge({'opportunity_type': opportunity_type}) %}
{% endif %}
{% if country %}
    {% set params = params|merge({'country': country}) %}
{% endif %}

<div class="content-heading">
    <h1>{{ 'Partnering Opportunities'|t }}</h1>
    <h2 class="heading-large">{{ 'Find international partners'|t }}</h2>
    <h3>{{ 'Search for partners to manufacture, distribute co-develop and supply your products, ideas and business.'|t }}</h3>
</div>

<div class="grid-row">
    <div class="column-fullwidth">
        <div class="column-full">
            <br />
            <br />
            
            <div class="sentence-builder">
                <p>I'm looking for <span id="keywords" contenteditable="true">Enter a keyword </span>partners to do <span tabindex="0">...trigger...</span> located in <span tabindex="0">...trigger...</span> </p>

                <div style="display:block;">

                    <div class="modal">
                        {{ form }}
                    </div>
                </div>
            </div>
                
            <p><a href="/opportunities">No thanks, let me see all opportunities</a></p>
        </div>
        
    </div>
</div>
