<div class="content-heading">
    <h1>{{ 'Partnering Opportunities'|t }}</h1>
    <h2 tabindex="0" class="heading-large">{{ 'Find international partners'|t }}</h2>
    <h3 tabindex="0">{{ 'Search for SME and academic partners to manufacture, distribute, co-develop and supply your products, ideas and business.'|t }}</h3>
</div>

<div class="grid-row">
    <div class="column-fullwidth">
        <div class="column-full">
            <br />
            <br />

            <div class="sentence-builder">
                <p>I'm looking for <span id="keywords" class="block" contenteditable="true">Enter a keyword </span>partners
                    <span class="dropdown empty" tabindex="0" id="search_type"><span class="chosen">to do</span>  <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                    located
                    <span class="dropdown empty" tabindex="0" id="search_country"><span class="chosen">in</span> <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                </p>

                <div>

                    
                    <div class="modal">
                        <div class="modal-holder">
                            {{ form }}
                        </div>
                    </div>
                </div>
            </div>

            <p><a href="/opportunities" class="button button--primary disabled js-sb-view-results sb-view-results">View Results</a>  <span tabindex="0" class="sb-results"></span></p>
            <p><a href="/opportunities">No thanks, let me see all opportunities</a></p>
        </div>

    </div>
</div>
