##############
## PHPSTORM ##
##############

.idea/*
.idea_modules/
*.iws
atlassian-ide-plugin.xml

##############
##  CONFIG  ##
##############
logs/apache_access.log
logs/apache_error.log
logs/error.log

##############
##   NODE   ##
##############
node_modules
.sass-cache/

##############
##  DRUPAL  ##
##############
/drupal/themes/custom/een/css/*.css
/drupal/core/composer.lock
/drupal/core/vendor
/drupal/vendor
