##############
## PHPSTORM ##
##############

.idea/
.idea_modules/
*.iws
atlassian-ide-plugin.xml

##############
##  CONFIG  ##
##############
logs/apache_access.log
logs/apache_error.log
logs/error.log

##############
##   NODE   ##
##############
node_modules
.sass-cache/

##############
##  DRUPAL  ##
##############
cache/
/drupal/core/composer.lock
/drupal/core/vendor
/drupal/vendor
drupal/modules/custom/elastic_search/config/install/elastic_search.settings.yml
html-coverage/
drupal/themes/custom/een/dist
/drupal/nbproject/private/