.column-third, .column-one-third {
    float: left;
    width: 33.33333%;
}

.column-two-thirds {
    float: left;
    width: 66.66667%;
}

#content {
    padding-bottom: 90px;
    margin: 0 auto;
}

#proposition-menu .menu { display: none; }

.save-actions .save-action {  
    overflow: hidden;

    a {  
        top: 8px;  position: relative; 
    }
}


form[data-drupal-selector="opportunity-search-form"] {
    .block-label {
        input[type=checkbox] {
           height:auto;
           width:auto;
        }
    }
}