.previous-next-navigation {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  width: 100%;
  padding-left: 0
}

.previous-next-navigation li {
  font-size: 20px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  display: block;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left
}

@media (min-width: 641px) {
  .previous-next-navigation li {
    font-size: 27px;
    line-height: 1.11111
  }
}

.previous-next-navigation li.next {
  float: right;
  text-align: right
}

.previous-next-navigation li.next a {
  padding: 15px 35px 15px 0
}

.previous-next-navigation li.next a:before {
  background: transparent url(https://assets.publishing.service.gov.uk/frontend/arrow-sprite-2B8CC4-5e2cee3e982549b5285684a2e4f0706c5d9c531f0afdf61dfe32dfb1dfeb82f0.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " "
}

.previous-next-navigation li.previous a {
  padding: 15px 0 15px 35px
}

.previous-next-navigation li.previous a:before {
  background: transparent url(https://assets.publishing.service.gov.uk/frontend/arrow-sprite-2B8CC4-5e2cee3e982549b5285684a2e4f0706c5d9c531f0afdf61dfe32dfb1dfeb82f0.png) no-repeat -20px -11px;
  margin: -4px 0 0 -32px;
  display: block;
  float: left;
  width: 30px;
  height: 38px;
  content: " "
}

.previous-next-navigation li a {
  display: block;
  text-decoration: none
}

.previous-next-navigation li a span {
  display: block;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  padding: 6px 0
}

@media (min-width: 641px) {
  .previous-next-navigation li a span {
    font-size: 14px;
    line-height: 1.42857
  }
}

.previous-next-navigation li a:focus .page-numbers, .previous-next-navigation li a:hover .page-numbers {
  text-decoration: underline
}

.previous-next-navigation li a:hover {
  background: $previous-next-navigation-hover_colour
}

.previous-next-navigation li a:active {
  background: $previous-next-navigation-active_colour
}

@media (min-width: 641px) {
  .previous-next-navigation li .visuallyhidden {
    font-size: 20px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-size-adjust: 0.5;
    display: inline-block;
    position: static
  }
}

@media (min-width: 641px) and (min-width: 641px) {
  .previous-next-navigation li .visuallyhidden {
    font-size: 27px;
    line-height: 1.11111
  }
}
div.pager-pagination {
    ul {
        width:100%;
        height:auto;
        line-height:normal;
        text-indent:0;
        border:none;
        overflow:hidden;
        padding:0;
    }
    li {
        font-size:24px;
        list-style:none;
        &.previous {
            float:left;
        }
        &.next {
            float:right;
        }
    }
    .previous-page {
        &::before {
            position:relative;
            top:7px;
            font-size:36px;
            font-family:FontAwesome;
            content:"\f053";
            margin-right:10px;
            color:$cta;
        }    
    }
    .next-page {
        &::after {
            position:relative;
            top:7px;
            font-size:36px;
            font-family:FontAwesome;
            content:"\f054";
            margin-right:10px;
            color:$cta;
        }
    }
    .current-page {
        width:100%;
        overflow:hidden;
        font-size:16px;
        margin:20px 0;
        color:$cta;
    }
    a:focus {
        outline:none;
        background:none;
    }
}
