$font_family: "Myriad Pro", Arial;

//Label
$label-background_colour: #FFF;
$label-border_colour: #0b0c0c;
$label-outline-color-focus: #ffbf47;

//Pagination
$previous-next-navigation-hover_colour: #f8f8f8;
$previous-next-navigation-active_colour: #dee0e2;

// Focus
$focus: #b9e88b;

// Used for forms
$status-background:#e0f0f9;