<section class="article">
    <div id="block-een-content">
        <div class="content-heading">
            <h1 tabindex="0">Blog</h1>
            <h2 tabindex="0" class="heading-large">Suppliers vs partners: something to consider</h2>
            <p class="published-data">Written by <a href="#">Max McGurk </a> on 26 January 2017</p>
            <p tabindex="0" class="lede" tabindex="0">Got suppliers but would rather have partners with skin in the game? Read on...</p>
            <div class="tags">
                <p>Filed under</p>
                <ul>
                    <li><a href="#">business partnering</a></li>
                    <li><a href="#">suppliers</a></li>
                </ul>    
            </div>    
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <p tabindex="0">I found this <a href="#">great article</a> on the Entrepreneur by Pamela Wasley. It perfectly covers the critical questions you need to ask yourself before you undergo any partnership.</p>
                <h2 class="heading-medium" tabindex="0">Needs change, so recognise what you need, not just what you want</h2>
                <p tabindex="0">Sometimes, you’ll have something very tangible you want to achieve, and you’ll know just the business who can provide that service. Sometimes, you’ll want help in an area where neither of you know where it might lead.</p>
                <p tabindex="0">Think of it like going for a run to a neighbouring town. Sometimes you need to buy a pair of running shoes (transactional) and sometimes you’ll want a running buddy (relationship). Generally transactional dealing lean towards a traditional supplier model, and relationships lean towards a partnership model. </p>
                <p tabindex="0">An example:</p>
                <p tabindex="0">One of my clients creates fantastic (and sustainable) wooden modular homes, and they need <a href="#">suppliers who can provide CNC milled wood for their kits</a>. So my role is to work with them and help them find the best supplier (it helps of course that all businesses on EEN are vetted by us).</p>
                <p tabindex="0">This, to me, is a perfect example of a transactional relationship. Company A wants something that Company B provides. Like above, where I needed a pair of running shoes. </p>
                <p tabindex="0">However, sometimes, the goals aren’t so clear. Sometimes you’ll want someone to come on the journey with you (a running buddy).</p> 
                <p tabindex="0">Another example:</p>
                <p tabindex="0">I work closely with a business developing a game-changing product to clean oil spills at sea much more effectively than current methods. The client is looking to diversify so his technology can be used on beaches too, firing foam from a boat at the shoreline onto the beach. He’s looking for a <a href="#">partner to co-develop the cannon to fire the foam</a>. The technology doesn’t exist yet, he’s looking for expertise to help him make it.</p>
                <p tabindex="0">If you’re not entirely sure if you need a supplier or partner for your business, have a look around our <a href="#">partnering tool</a>. It’s a brilliant way of finding similarly ambitious businesses to yourself, what you discover may unlock your imagination.</p>
            </div> 
            <div class="column-one-third">

            </div>
        </div>    
    </div> 
</section>    






