<section class="article">
    <div id="block-een-content">
        <div class="content-heading">
            <h1 tabindex="0">Blog</h1>
            <h2 tabindex="0" class="heading-large">Collaborating with another business - things to consider</h2>
            <p class="published-data">Written by <a href="#">Jenny Collins</a> on Thursday 26 January 2017</p>
            <p tabindex="0" class="lede" tabindex="0">How can you ensure potential business partners are on the same page as you? Here are some things to think about.</p>
            <div class="tags">
                <p>Filed under</p>
                <ul>
                    <li><a href="#">business partnering</a></li>
                </ul>    
            </div>    
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <p tabindex="0">Experience and expertise are important in business, whether you have that in-house or need to get the talent in. If the latter, the answer might lie in partnering with another business - as thousands of our clients have found out to their success.</p>
                
                <h2 class="heading-medium" tabindex="0">Going it alone</h2>
                <p tabindex="0">An obvious place to start would be Google. Search a few words and phrases, dip in and out some of the results and speculatively contact some companies which look of interest.</p>
                <p tabindex="0">That’s pretty labour intensive and you don’t really know what the recipient is like, whether they share the same outlook, attitude and expectations.</p>
                <p tabindex="0">EEN offers two remedies to this:</p>
                <ul>
                    <li>Our clients are our clients because they want to work collaboratively</li>
                    <li>We help broker the relationship working with partners in 66 countries</li>
                </ul>
                <h2 class="heading-medium" tabindex="0">Our clients are our clients becuase they want to work collaboratively</h2>
                <p tabindex="0">Our network is made up of businesses and commercially-minded academics, experts in their field, all ready, willing and able to collaborate.They have already been through our vetting process to ensure their outlook, attitude and expectations are the right fit for pairing up. So you’re already on the front foot when you <a href="#">search the database.</a></p>
                <hr />
                <p tabindex="0">Here’s an example:</p>
                <p tabindex="0">Manchester-based engineer Danny Manu had ploughed all of his resources into developing  prototype wireless earbuds offering real-time translation in 37 languages.</p>
                <figure class="figure">
                    <img src="/themes/custom/een/img/article-2.png" class="img-responsive" alt="Test image" />
                </figure>
                <p tabindex="0">Our advisors in the North West of England helped him to find manufacturing partners and distributors from our global network. They were also instrumental in helping him achieve crowdfunded pledges and pre-orders way beyond his target of £70,000.</p>
                <p tabindex="0">Danny's latest product launched at the Consumer Electronics Show (CES 2017) in Las Vegas and he is planning to start production this year.</p>
                <p tabindex="0">Read <a href="#">Danny's story</a> in full and find out about our other <a href="#">successful partnerships.</a></p>
                <h2 tabindex="0" class="heading-medium">We help broker the relationship</h2>
                <p tabindex="0">We liaise with you and any prospective partner before you meet so you can be confident that you’re on the same page, and we will work with you as much or as little as you need us.</p>
                <hr />
                <p tabindex="0">Here’s another example:</p>
                <p tabindex="0">Imagine children's bedtime stories that start in English and end in another language. Bedford-based educational software startup One Third Stories did and approached us for support. Our team in the East of England helped the founders, Alex Somervell and Jonny Pryn, find partners who could trial the product and raise finance to take it to market as well as launch it internationally.</p>
                <p tabindex="0">We were able to make introductions to a wide range of potential partners and parent groups to test content. We're extremely pleased that One Third Stories' latest partners are the Spanish Embassy and Goethe-Institut. </p>
                <p tabindex="0">In Alex's words:</p>
                
                <blockquote>
                    <p>We are a small startup and need all the personal, down-to-earth advice we can get. Not only are we getting practical advice but it is also opening doors to a network of people who may be interested in investing or supporting us in some other way.
The EEN guys have genuinely made a big difference to One Third Stories</p>
                </blockquote>
                <p tabindex="0">Find out more about <a href="#">One Third Stories</a> and how we have successfully supported <a href="#">other innovations</a>.</p>
            </div> 
            <div class="column-one-third">

            </div>
        </div>    
    </div> 
</section>    






