<section class="article">
    <div id="block-een-content">
        <div class="content-heading">
            <h1 tabindex="0">Blog</h1>
            <h2 tabindex="0" class="heading-large">Nanotech events - down the road, across the pond or both</h2>
                    <p class="published-data">Written by <a href="#">David Harper</a> on Thursday 26 January 2017</p>
            <p tabindex="0" class="lede" tabindex="0">Business is done face-to-face, and EEN offers a suite of events to get you on the front foot.</p>
            <div class="tags">
                <p>Filed under</p>
                <ul>
                    <li><a href="#">business events</a></li>
                </ul>    
            </div>    
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <p tabindex="0">Meetings. They’re the cornerstone of working together, whether in business, academic or a collaboration between the two. Enterprise Europe Network has made that happen for me - in nanotechnology - in several ways.</p>    
                <h2 class="heading-medium" tabindex="0">Nanotech European funding</h2>
                <p tabindex="0">I went to a session on <a href="#">tips and tricks for applying for nanotech European funding</a>, covering common pitfalls and enabling businesses to give assessors what they need to score their applications highly. It’s great, also, to mingle with fellow nanotech professionals, because part of the Horizon 2020 application process requires you to be in a consortium of other business and research organisations.</p>
                <h2 class="heading-medium" tabindex="0">Networking with other nanotech’s in Europe</h2>
                <p tabindex="0">EEN keep an eye out for <a href="#">events of interest internationally too</a> and I got an email alert about this <a href="#">nanotech session in Dusseldorf</a> to do that same networking job. This time, though, with academics and business from a much larger geography.</p>
                <h2 class="heading-medium" tabindex="0">Nanotech speed dating?!</h2>
                <p tabindex="0">The best events EEN offers are their brokerage events. They work hard to bring people together from the same discipline / business area - who are looking to collaborate somehow. Each delegate submits what they’re looking to achieve, and can request to meet others at the event - whereupon they’ll hopefully find common ground and work together. If and when there’s a mutual interest between both parties, the slot is set up.</p>
                <p tabindex="0">And as luck would have it, there’s a <a href="#">nanotech event coming up in Cambridge</a>. See you there?</p>
                <p tabindex="0">There are so many great things that come from these short meetings. But of course, don’t take my word for it.</p>
                <blockquote class="twitter-tweet" data-lang="en-gb"><p lang="en" dir="ltr">Matchmaking event at <a href="https://twitter.com/hashtag/Innovate2016?src=hash">#Innovate2016</a> (<a href="https://t.co/bPiaDxwr1g">https://t.co/bPiaDxwr1g</a>)<br>Here&#39;s one happy customer :) <a href="https://t.co/hzVOHNBQ6d">pic.twitter.com/hzVOHNBQ6d</a></p>&mdash; EEN in the UK (@EEN_UK) <a href="https://twitter.com/EEN_UK/status/794111937093259264">3 November 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2 class="heading-medium" tabindex="0">Overseas missions</h2>
                <p tabindex="0">EEN also work with the Department of International Trade a lot, and regularly co-host missions abroad, where companies on the cusp of scaling up internationally meet influential people.</p>
                <p tabindex="0">Here’s an <a href="#">nanotech overseas mission to Japan</a>. </p>
            </div> 
            <div class="column-one-third">

            </div>
        </div>    
    </div> 
</section>    






