<section class="article">
    <div id="block-een-content">
        <div class="content-heading">
            <h1 tabindex="0">Blog</h1>
            <h2 tabindex="0" class="heading-large">Research and development - funding for your business</h2>
            <p class="published-data">Written by <a href="#">Stephen Shorthouse</a> on Thursday 26 January 2017</p>
            <p tabindex="0" class="lede" tabindex="0">This blog - <a href="#">part of my series</a> - focuses on public research and development funding at an international, national or local level. </p>
                    
            <div class="tags">
                <p>Filed under</p>
                <ul>
                    <li><a href="#">public funding</a></li>
                    <li><a href="#">horizon 2020</a></li>
                </ul>    
            </div>    
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <p>Welcome to my latest blog installment, this time looking at public research and development funding.</p>
                <h2 class="heading-medium" tabindex="0">European funding</h2>
                <p tabindex="0">The type of funding available varies according to how far along the research and development journey you are. It’s worth establishing your <a href="#">technology readiness</a> before you apply for funding. </p>
                <div class="embeded-video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/CimJI88c4fE" frameborder="0" allowfullscreen></iframe>
                </div>
                <p tabindex="0"><a href="#">Horizon 2020</a> is the EU’s largest ever research and innovation programme with almost €80 billion of funding between 2014 - 2020.</p>
                <p tabindex="0">Horizon 2020 funds specific areas of research and publishes a calendar of requests for proposals, called <a href="#">funding calls</a>. The calls also include the a category called the SME Instrument which is aimed specifically at small and medium-sized enterprises. </p>
                <p tabindex="0">As a rule of thumb, the grant application process for Horizon 2020 takes about six months with a one in ten chance of success.</p>
                <p tabindex="0">Part of the deal with the main Horizon 2020 programme, is that you bid as part of a consortium of partners from at least three different countries. We can help you <a href="#">find partners</a>.</p>
                <p tabindex="0">Beyond that, we can facilitate detailed support about your proposal and can also share expertise on how to <a href="#">write a bid</a>.</p>
                <h3 class="uppercase">*BREXIT UPDATE*</h3>
                <p tabindex="0">EU programmes such as Horizon 2020 remain an important source of finance and opportunity for collaboration and still very much worth pursuing.</p>
                <p tabindex="0">The UK Treasury has announced it will <a href="#">fund UK participants in Horizon 2020 projects</a> applied for while we’re in the EU, even if the project carry on long after the UK has left leaves the EU.</p>
                <h2 class="heading-medium" tabindex="0">National funding</h2>
                <p tabindex="0">Innovate UK runs funding competitions to help businesses and research organisations develop their innovations. You can apply for investment for all aspects of research and development from testing the feasibility of your idea to developing a prototype.</p>
                <p tabindex="0">Innovate UK covers the following industry sectors:</p>
                <ul>
                    <li>emerging and enabling technologies</li>
                    <li>infrastructure systems</li>
                    <li>health and life sciences</li>
                    <li>manufacturing and materials</li>
                </ul>
                <p tabindex="0">Find out more about <a href="#">current and upcoming competitions</a> as well as the <a href="#">application process and competition guidance</a>.</p>
                <div class="embeded-video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/S-rnSpIMiPc" frameborder="0" allowfullscreen></iframe>
                </div>
                <p tabindex="0">Innovate UK also runs an <a href="#">open programme</a> with up to £15 million to fund other innovation projects. You can apply for project costs of £25,000 - £1 million depending on the type of research and development you want to carry out. The competition runs twice a year with deadlines in September and March.</p>
                <p tabindex="0">Following the announcement of Innovate UK’s budget increase, there’s never been a better time to apply for research and development funding.</p>
                <blockquote class="twitter-tweet" data-lang="en-gb"><p lang="en" dir="ltr">Chancellor: …additional investment in research and development, rising to an extra £2 billion per year by 2020-21 <a href="https://twitter.com/hashtag/AutumnStatement?src=hash">#AutumnStatement</a> <a href="https://t.co/KaZSs7cMW8">pic.twitter.com/KaZSs7cMW8</a></p>&mdash; HM Treasury (@hmtreasury) <a href="https://twitter.com/hmtreasury/status/801408385019211777">23 November 2016</a></blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <h2 class="heading-medium">Local funding</h2>
                <p tabindex="0">Another unique facet of EEN, is that because our <a href="#">advisors</a> are based across England, Wales and Northern Ireland (and <a href="#">Scotland</a> too) they can let you know about funding opportunities closer to home as well. From Agri-Tech grants of £25,000 - £150,000 in Cambridgeshire to the Tech Partnership Training Fund to help employers invest in IT training, there’s a wealth of investment potential across the UK.</p>
                <p tabindex="0"><a href="#">Explore the up to date list of local funding opportunities</a>.</p>
            </div> 
            <div class="column-one-third">

            </div>
        </div>    
    </div> 
</section>    






