<section class="article">
    <div id="block-een-content">
        <div class="grid-row">
            <div class="content-heading">
                <h1 tabindex="0">Case Study</h1>
                <h2 tabindex="0" class="heading-large">Sugarwise kite mark finds a healthy market</h2>
                <p>EEN helped client establish an international sugar kite mark to tackle obesity and diabetes, attracting major food and drink manufacturers to the cause</p>
                <p class="published-data">Written by <a href="#">Leigh Pearce</a> on Thursday 26 January 2017</p>
            </div>
        </div>    
        <div class="grid-row">
            <div class="column-one-quarter no-pad">
                <div class="block-stat">
                    <p>4</p>
                    <p>value propositions created</p>
                </div> 
                <div class="block-stat">
                    <p>1</p>
                    <p>global brand on board</p>
                </div> 
                 
            </div> 
            <div class="column-three-quarter">
                <iframe width="100%" height="415" src="https://www.youtube.com/embed/kMYy6yt6j80" frameborder="0" allowfullscreen></iframe>
                <p>Rend Platings was appalled to discover that it was almost impossible for her to identify and buy food and drink products for her baby daughter that did not increase the risk of obesity and diabetes in later life.</p>
                <p>She was spurred into registering a ‘Sugarwise’ kite mark to help consumers follow World Health Organisation guidelines that no more than 5% of an individual’s calorie intake should be in the form of ‘free sugars’.</p>
                <p>EEN in the East of England has been with her every step of the way over the last year through a fully-funded Innovate2Succeed coaching programme for innovative businesses. The team helped her protect the Sugarwise concept as a registered trademark and to make the right connections in the global food and drink market.</p>
                <h2 class="heading-medium" tabindex="0">International strategy</h2>
                <p>They worked with Rend to develop value propositions for the different customer segments, namely food and drink manufacturers, food retailers and hospitality, including pubs and restaurants.</p>
                <p>Building a business offer profile through the <a href="#">partnering opportunities database</a> has added to a network of collaboration partners across Europe while an EEN referral to the Department of International Trade has helped to develop a robust international strategy.</p>
                <p>Organisers of the Food Matters Live event have agreed a ‘Sugarwise Zone’ for manufacturers of certificated products. Industry giant Unilever is covering the costs of any startup exhibitor.</p>
                <blockquote>
                    <p>Enterprise Europe Network has been the only business support organisation to stick with Sugarwise through this start-up phase. Without their help we wouldn’t be where we are now.</p>
                </blockquote>
            </div>
        </div>    
    </div> 
</section>    






