<section class="article">
    <div id="block-een-content">
        <div class="grid-row">
            <div class="content-heading">
                <h1 tabindex="0">Case Study</h1>
                <h2 tabindex="0" class="heading-large">Digital arts business supported by EEN</h2>
                <p>Business and private finance introductions by EEN, help London business progress.</p>
                <p class="published-data">Written by <a href="#">Ellie Quick</a> on Thursday 26 January 2017</p>
            </div>
        </div>    
        <div class="grid-row">
            <div class="column-one-quarter no-pad">
                <div class="block-stat">
                    <p>4</p>
                    <p>Investor intros</p>
                </div> 
            </div> 
            <div class="column-three-quarter">
                <figure class="figure">
                    <img src="/themes/custom/een/img/case-study-1.jpg" class="img-responsive" alt="Test image" />
                </figure>
                <p>WallMuse is widening access to exhibitions and art collections with a novel digital arts platform that broadcasts indoors or outdoors to high-resolution monitors and LED displays.</p>
                <p>EEN in London has helped the company gain access to funding, to raise private finance and <a href="#">look for business partners in Europe</a>, particularly architects and interior designers, construction and building management companies.</p>
                <p>The EEN team also introduced WallMuse to the Creative Europe Culture programme, which has co-financed a collaboration with the Royal Museums of Fine Arts of Belgium and the State Museum of Contemporary Art Greece.</p>
                <p>Efforts are currently concentrated on raising equity funding in the UK and Europe and finalising plans to offer global subscription to the service.</p>
                <p>Founder Alexandre Khan said:</p>
                <blockquote>
                    <p>EEN has opened doors I couldn’t have on my own.</p>
                </blockquote>
            </div>
        </div>    
    </div> 
</section>    






