<section class="article">
    <div id="block-een-content">
        <div class="grid-row">
            <div class="content-heading">
                <h1 tabindex="0">Case Study</h1>
                <h2 tabindex="0" class="heading-large">Smart energy innovator explores global markets</h2>
                <p>London startup has teamed up with a South Korean partner to bring to market a smart energy hub that saves money for electricity users.</p>
                <p class="published-data">Written by <a href="#">Anna Soulardon</a> on Thursday 26 January 2017</p>
            </div>
        </div>    
        <div class="grid-row">
            <div class="column-one-quarter no-pad">
                <div class="block-stat">
                    <p>7</p>
                    <p>contact intros</p>
                </div> 
                <div class="block-stat">
                    <p>1</p>
                    <p>funding award</p>
                </div> 
                <div class="block-stat">
                    <p>1</p>
                    <p>distribution deal</p>
                </div>  
            </div> 
            <div class="column-three-quarter">
                <figure class="figure">
                    <img src="/themes/custom/een/img/case-study-3.jpg" class="img-responsive" alt="Test image" />
                </figure>
                <p>GridDuck devised a low-cost way of exploiting electricity demand-response incentives - where users can cash in on low rate times of day - with a wireless hub and switches. EEN helped the company to find a <a href="#">commercial partner and hardware manufacturers</a> to test its novel solution.</p>
                <p>The tie-up was arranged by EEN in London who also introduced GridDuck to overseas manufacturers and to influential organisations, such as the Department of International Trade and the Energy Systems and Future Cities Catapults.</p>
                <blockquote>
                    <p>Founder Gregor Hoefter said: “EEN has been invaluable to us, from helping us to find specialist manufacturers for creating our solution at two Catapult centres, to trial worldwide partners and access to markets across the globe.</p>
                </blockquote>
                <p>'Demand response' allows energy users to receive payments for shifting non-essential use of equipment and appliances, including fridges, freezers and electric heaters, away from hours of peak demand. This is increasingly necessary as fossil fuels are replaced with renewables.</p>
                <h2 class="heading-medium" tabindex="0">Wireless technology</h2>
                <p>Until recently, this was only possible with costly, specialised hardware but GridDuck discovered it could successfully adapt standard, wireless technology.</p>
                <p>GridDuck’s smart hub connects to the Wi-Fi network and integrates with its wireless smart plugs, relays and switches to make it quick, cheap and easy to get started with demand response.</p>
                <h2 class="heading-medium" tabindex="0">Letter of intent</h2>
                <p>Since EEN established contact between GridDuck and I-ON in South Korea, the companies are considering a distribution deal and are planning a software integration trial. They are also going to pursue business development opportunities together in Europe and Asia.</p>
                <p>GridDuck is also engaged in detailed talks with VPPlant from Poland, while other contacts arranged by EEN with Meazon (Greece) and VDI/Helki (Spain) have opened up a wider choice of wireless hubs, switches, smart relays and other products for integration. This winter will see trials with an electric heater, managed via a control unit made by Helki.</p>
                <p>GridDuck has already been awarded grant funding by Innovate UK and EEN has put them forward for an audit by the UK Intellectual Property Office.</p>
            </div>
        </div>    
    </div> 
</section>    






