<div class="contact-us-page">
    <div class="content-heading">
        <h2 tabindex="0" class="heading-large">Get in touch<h2>
        <p class="lede" tabindex="0">We're ready and willing to offer publicly-funded support to help ambitious UK businesses grow internationally. You can pick up the phone or email us. Or if you prefer, Skype us.
            <br /><br />
            If you're not from the UK, please <a href="http://een.ec.europa.eu/about/branches">contact your local EEN branch.</a></p>
    </div>
    <div class="contents-text-block">
        <h2 tabindex="0" class="heading-medium">You can phone us on</h2>
        <p class="contact-number"><a href="tel:03001233066">0300 123 3066</a></p>
    </div>

    <div class="grid-row">
        <div class="email-form">
            <hr />
            <h2 tabindex="0" class="heading-medium">Or Email us</h2>
            
             {{ form }}
        </div>
        <div class="skype-block">
            <div class="skype-connect">
                <h3 tabindex="0" class="heading-small">We're happy to chat to clients through whatever means they are comfortable with.</h3>
                <p>Click on the button below to open up a Skype chat or video call.</p>

                <a href="skype:live:eenintheuk?add" class="skype-btn">
                    <i class="fa fa-skype"></i>
                    <span>Skype</span>
                </a>

            </div>


        </div>
    </div>
</div>        


