<div id="js-login-container">
    <div class="js-login-screen-page">
        <div id="login" class="login-block login-types">
            <div class="white-popup">
                <header class="popup-header">
                    <h2 class="header-medium">Please sign into your account below.</h2>
                </header>
                <div class="form-content">
                    {{ form }}
                    <a class="showHideP show-password">Show password</a>
                    <a href="/reset-password" class="forgot-password">Forgotten your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
