<h2 class="font-medium bold-large">Reset your password</h2>
<div class="password-section js-password-section">
    <h2 class="heading-medium">Create a password</h2>
    <p>Your password needs to have:</p>
    <ul>
        <li id="password-ten-chars">at least 10 characters</li>
        <li id="password-symbol">at least one symbol (eg ?!£%)</li>
        <li id="password-capital">at least one capital letter</li>
    </ul>
    <div class="form-section">
        {{ passwordform }}
        <a class="showHideP">Show password</a>
    </div>
    <div class="clearfix"></div>
</div>
