<section class="article">
    <div id="block-een-content">
        <div class="grid-row">
            <div class="content-heading">
                <h1 tabindex="0">Case Study</h1>
                <h2 tabindex="0" class="heading-large">Blue Abyss for marine and space research</h2>
                <p class="published-data">Written by <a href="#">John hutton</a> on Wednesday 28th September</p>
                <p class="lede">Blue abyss will be the world's largest and deepest research, training and development pool, 
                    purpose-built fot the marine and space sectors. Having helped the company
                    explore international markets and find investors, we have already 
                    nominated them for an award.
            </div>
        </div>    
        <div class="grid-row">
            <div class="column-one-quarter no-pad">
                <div class="block-stat">
                    <p>&euro;3.5m</p>
                    <p>Annual profits</p>
                </div> 
                <div class="block-stat">
                    <p>120+</p>
                    <p>New jobs created</p>
                </div> 
                <div class="block-stat">
                    <p>EEN</p>
                    <p>Award winner</p>
                </div> 
            </div> 
            <div class="column-three-quarter">
                <figure class="figure">
                    <img src="/themes/custom/een/img/success-story.jpg" class="img-responsive" alt="Divers doing space research" />
                </figure>
                <p>A project to build a world-class, aquatic training and development centre for marine and space research at the University of Essex has been shortlisted for an Enterprise Europe Network Award.</p>
                <p>Blue Abyss will feature the world's largest and deepest indoor pool – 50 metres in depth and equivalent to 14 Olympic swimming pools. It promises to be the premier facility of its kind in the UK and Europe.</p>
                <p>Construction at the university's Knowledge Gateway Innovation Park in Colchester is expected to start early next year and be finished in 18 months</p>
                <p>Blue Abyss will include a Kuehnegger Human Performance Centre, hyper and hypobaric chambers, a microgravity suite along with a 120-bed hotel.</p>
                <h2 class="heading-medium">Human physiology research</h2>
                <p>The facility will cater for human physiology researchers too, by helping them study the effects of the marine and space environments on the human body.</p>
                <p><strong>Blue Abyss managing director John Vikers</strong> had turned to his local Enterprise Europe Network members, St John's Innovation Centre and Exemplas Holdings, when he needed help in accessing finance and attracting investment.</p>
                <p>They put him in touch with a business coach while also introducing the company to different funding streams and business advice programmes.</p>
                <p>Meanwhile EEN teamed up with colleagues across Europe to compile information on the commercial and remote diving markets, as well as other applications in gas, nuclear power, shipping and harbour operations. A single EEN market research report also provided data on human space flight, human physiology and research into extreme environments.</p>
                <hr />
                <blockquote>
                    <p>John said: 'I am very grateful to Enterprise Europe Network advisers for their support and assistance. Our presentations were really enhanced by the market research information which enabled the company and the University of Essex to conduct further market analysis and meet with both the European and UK space agencies.'</p>
                    <footer>John Vikers, Blue abyss managing director</footer>
                </blockquote>
                <hr />
            </div>
        </div>    
    </div> 
</section>    






