<div id="js-login-container js-unsubscribe">
    <div class="js-login-screen-page">
        <div id="login" class="login-block login-types">
            <div class="white-popup">
                <header class="popup-header">
                    <h2 class="header-medium">Please enter your email address below to manage your preferences</h2>
                </header>
                <div class="form-content">
                    {{ form }}
                </div>
            </div>
        </div>
    </div>
</div>
