
.path-aggregation-opportunities, .page-node-type-aggregator {

  h1 {
    font-size: 36px;
    font-weight: 600;
  }

  .content-heading {
    padding-top: 0;
    margin: 7px 0 37px 0;
  }

  .ga-new-search {
    margin:15px 0 30px 0;
  }

  hr.divider {
    background: #ddd;
  }
}

.aggregation-template {
  .preferences {
    ul {
      padding-left: 20px;
    }
  }
  .partner-icons {
    text-align: left;
    padding-top: 10px;
  }
  .partner-icon {
    img {
      width: 70%;
      margin: 0 10px 0 0;
    }
  }
}