$een-red: #ed475b;

.container {
  margin: 0 auto;
  max-width: 960px;
}

.masthead-opener {
  clear: both;
  margin: 128px 0 0 0;
  padding: 0 14px;

  h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin: 14px 0 5px 0;
    float: left;
    text-align: left;
    line-height: 1em;
    width: 50%;

    @media (min-width: 992px) and (max-width: 1366px) {
      margin-top: 64px;
    }
  }
  .masthead-options {
    width: 47%;
    float: right;
    .item {
      background: white;
      margin: 0 0 7px 0;
      text-align: left;
      font-size: 20px;
      border-radius: 3px;
      width: 100%;

      a {
        color: $body-text;
        display: block;
        padding: 9px 14px;
        font-weight: 600;
      }

      span {
        color: $cta;
      }
    }
  }

  @media (max-width: 660px) {
    clear: both;
    margin: 129px 0 0 0;
    padding: 0 14px;
    overflow: hidden;
    top: -156px;
    position: relative;

    h1 {
      width: 100%;
    }

    .masthead-options {
      width: 100%;
      margin: 0 7px;

      .item {
        text-align: center;
      }
    }

    h1 {
      margin: 0;
    }
  }
}

#global-header {
  .home-header-background {
    width: 100%;
    max-width: 100%;
    height: 563px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: url("/themes/custom/een/img/homepage-bg.jpg") no-repeat;
    background-size: cover;
    border-bottom: 14px solid #ed475b;

    @media (min-width: 992px) and (max-width: 1366px) {
      height: 370px;
      padding: 20px 0;
    }
    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      content: " ";
      background: #0b0c0c;
      opacity: 0.7;
    }
    .container {
      position: relative;
      z-index: 1;
    }

    .links {
      overflow: hidden;
      padding: 0;
      li {
        display: inline-block;
        font-size: 18px;
        text-align: center;
        margin: 0 14px 14px 0;
      }
      a {
        width: 218px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        font-weight: 600;
        border: solid 1px #fff;
        padding: 0 30px;
        color: #fff;
        &:hover {
          color: $cta;
          background: #fff;
        }
      }
    }
    .homepage-carousel {
      overflow: hidden;
      padding: 0;
    }
    .overlay {
      background: rgba(50, 50, 50, 0.5);
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
    #video-bg {
      height: 563px;
      max-height: 563px;
      overflow: hidden;
      position: absolute;
      width: 100%;
      top: 0;
      video {
        width: 100%;
      }
    }
    .homepage-quote-container {
      max-width: 960px;
      min-height: 216px;
      position: relative;
      z-index: 2;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
      margin: 83px auto;
      background: #fff;
      @media (min-width: 640px) and (max-width: 991px) {
        margin: 60px 0;
      }
      .node__content {
        max-width: 960px;
      }
      .quote-image {
        float: left;
        margin-right: 20px;
        div:first-of-type {
          display: none;
        }
        img {
          width: 54px;
          height: 54px;
        }
      }
    }
    .popup-container {
      width: 278px;
      top: 30px;
      right: 30px;
      position: absolute;
      article {
        .node__content {
          div {
            width: 100%;
            display: inline-block;
            position: absolute;
          }
        }
      }
      .video-embed-field-launch-modal {
        width: 38px;
        height: 148px;
        position: relative;
        display: inline-block;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: bottom;
        background: #585858;
        &:before {
          //width:64px;
          height: 64px;
          line-height: 64px;
          text-align: center;
          z-index: 1;
          border-radius: 50%;
          -moz-transform: translateY(-50%) translateX(-50%);
          -ms-transform: translateY(-50%) translateX(-50%);
          -o-transform: translateY(-50%) translateX(-50%);
          -webkit-transform: translateY(-50%) translateX(-50%);
          content: "\f04b";
          font-family: FontAwesome;
          font-size: 26px;
          left: 54%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) translateX(-50%);
          padding: 0 20px 0 28px;
          color: $cta;
          background: #fff;
        }
        &:after {
          width: 278px;
          height: 156px;
          position: absolute;
          top: 0;
          left: 0;
          content: " ";
          background: rgba(255, 255, 255, 0.4);
        }
      }
      .youtube-title {
        width: 100%;
        height: 34px;
        line-height: 34px;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        color: #fff;
        background: $cta;
      }
      p {
        display: none;
      }
      img {
        width: 278px;
        height: 156px;
      }
    }
    .views-element-container {
      .homepage-video {
        display: none;
      }
      .node--type-background-video {
        display: none;
      }
      .node--type-homepage-quote {
        overflow: hidden;
        padding: 0 360px 0 0;
        background: #fff;
        .node--type-quote .node__content {
          padding: 48px 20px 20px 20px;
        }
        article {
          background: none;
          color: #fff;
          margin: 0 auto;
          position: relative;
          text-align: left;
          &:before {
            font-size: 42px;
            content: "\f10d";
            position: absolute;
            top: 5px;
            left: 20px;
            font-family: FontAwesome;
            float: left;
            color: $cta;
          }
          p {
            line-height: 1.2em;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 15px;
            color: $cta;
          }
          .quote-author {
            padding-top: 5px;
          }
          .quote-author-company,
          .quote-author {
            line-height: 1.2em;
            display: block;
            font-size: 18px;
            font-weight: 400;
            color: #4a4a4a;
          }
        }
      }
    }
    .menu-container {
      margin: auto;
      max-width: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      padding: 0;
      background: rgba(255, 255, 255, 0.3);
      @media (max-width: 768px) {
        background: $light-blue;
      }
      .header-proposition {
        max-width: 990px;
        margin: 0 auto;
        #proposition-menu {
          margin: 0;
          a.menu {
            top: 0;
            right: 15px;
          }
        }
        #proposition-links {
          border: none;
          padding: 0 15px;
          margin: 0;
          @media (min-width: 641px) and (max-width: 768px) {
            padding: 0 30px;
          }
          li {
            height: 65px;
            line-height: 65px;
            font-size: 18px;
            padding: 0;
            @media (max-width: 768px) {
              height: 56px;
              line-height: 56px;
              overflow: hidden;
            }
            a {
              height: 62px;
              line-height: 62px;
              display: inline-block;
              float: left;
              color: #fff;
              font-weight: bold;
              position: relative;
              z-index: 9;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

.partner-icons {
  min-height: 100px;
  text-align: center;
  margin: 124px 0 0 0;

  @media (max-width: 640px) {
    display: none;
  }
  .partner-icon {
    display: inline-block;
  }
  img {
    margin: 0 30px;
    &.innovate-uk {
      position: relative;
      top: -14px;
    }
  }
}

.node--type-homepage-popup-video {
  max-width: 960px;
  height: 156px;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin: 0 auto;
}

.home {
  > .container {
    padding-top: 20px;
  }
  .quote-and-near-me {
    margin-bottom: 50px;
  }
  .quote {
    .content {
      position: relative;
      padding: 25px;
      background: $een-red;
      color: #fff;
      .quote-text {
        padding-top: 50px;
        p {
          font-style: normal;
          color: #fff;
          &:before {
            color: #fff;
            top: -60px;
          }
        }
      }
      .company {
        color: #fff;
      }
      .all-stories {
        height: 30px;
        line-height: 30px;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 3px solid #4a4a4a;
        position: absolute;
        bottom: 20px;
        right: 15px;
        padding: 0 16px;
        color: #fff;
        background: #000;
      }
    }
    .views-field-field-quote-author {
      .field-content {
        line-height: 1em;
        font-size: 16px;
        font-weight: 400;
        padding-top: 3px;
      }
    }
    .views-field-field-quote-author {
      .field-content {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .near-me {
    .content {
      background: #006ba6;
      color: #fff;
      overflow: hidden;
      padding: 15px;
      p,
      h3 {
        color: #fff;
      }
      h3 {
        margin-top: 0;
      }
      .or {
        display: block;
        font-size: 16px;
        font-weight: 600;
        margin: 10px 0;
      }
      .combined-input-container {
        background: #fff;
        padding: 2px;
        input {
          border: none;
          width: 80%;
        }
        button {
          background: #006ba6;
          border: none;
          color: #fff;
          float: right;
          font-size: 18px;
          padding: 7px 10px;
        }
      }
      .location-select {
        position: relative;
        &:before {
          color: #0d6ca4;
          content: "\f05b";
          cursor: pointer;
          font-family: FontAwesome;
          font-size: 20px;
          position: absolute;
          right: 10px;
          top: 10px;
        }
        input {
          border: none;
          width: 100%;
        }
      }
    }
  }
  .find-partners {
    overflow: hidden;
    padding-bottom: 70px;
    background: #4a4a4a;
    h2,
    p,
    a:link,
    .form-label {
      color: #fff;
    }
    h2 {
      font-size: 48px;
      margin: 70px 0 10px 0;
    }
    .column-full {
      padding: 0;
    }
    .search-container {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      .sb-results-wrapper {
        bottom: -10px;
        .sb-results {
          color: #fff;
          span {
            font-size: 50px;
          }
        }
      }
    }
    .search-container #opportunity-super-search-form .ss-submit {
      bottom: -12px;
      right: -12px;
      &:before {
        color: #4a4a4a;
      }
    }
    form {
      width: 75%;
      position: relative;
      float: left;
    }
    .form-control.form-text {
      height: 64px;
      line-height: 64px;
      font-size: 21px;
      border-radius: 5px;
      padding-right: 64px;
    }
    .ss-submit {
      width: 64px;
      height: 64px;
      position: absolute;
      bottom: 0;
      right: 2px;
      .button {
        width: 64px;
        height: 61px;
        text-indent: -9000px;
        box-shadow: none;
        margin-top: 2px;
        background-position: center center;
        background-color: #fff;
        background-image: url("../img/search-icon.jpg");
        background-repeat: no-repeat;
      }
    }
    .ops-found {
      width: 25%;
      float: right;
      padding-top: 60px;
      span {
        line-height: 1em;
        display: block;
        font-size: 24px;
        padding-left: 20px;
        color: #fff;
        &:first-child {
          font-size: 50px;
        }
      }
    }
    .form-label {
      font-size: 24px;
      font-weight: 400;
    }
  }
}
.our-work-in-action {
  padding: 0 15px;
  h3.heading-medium {
    margin: 0 -15px 20px -15px;
  }
  .node--type-our-work {
    header h2 {
      @extend .sr-only;
    }
  }
  .column-one-half {
    width: 100%;
    float: none;
    padding: 0;
    .node--unpublished {
      background: none;
    }
  }
  h2.node__title {
    display: none;
  }
  .tags {
    a {
      font-weight: 600;
      opacity: 0.6;
      color: #4a4a4a;
    }
    > div {
      div {
        display: inline-block;
        float: left;
        font-size: 14px;
        &:first-child {
          a {
            padding-left: 0;
          }
        }
        a {
          padding: 0 10px 0 0;
          margin-right: 10px;
          border-right: solid 1px #4a4a4a;
        }
        &:last-child {
          a {
            border-right: 0;
          }
        }
      }
    }
  }
  .item {
    width: 65%;
    height: 172px;
    float: right;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    h2 {
      display: block;
    }
    p {
      @extend .sr-only;
    }
    // first promo
    &:first-child {
      width: calc(35% - 30px);
      height: 100%;
      min-height: 576px;
      float: left;
      color: #fff;
      background: #4a4a4a;
      .content {
        width: auto;
        float: none;
      }
      h2 {
        font-size: 28px;
        margin-top: 0;
        a {
          color: #fff;
        }
      }
      .copyrighted-image {
        div:first-child {
          width: auto;
          height: auto;
          @extend .sr-only;
        }
        div {
          height: 394px;
          position: relative;
          overflow: hidden;
        }
      }
      img {
        width: auto;
        height: 100%;
        max-height: 378px;
        margin-left: -30%;
      }
      p {
        display: none;
      }
      article {
        header {
          width: 100%;
          float: none;
        }
      }
      .node__content {
        width: 100%;
        max-height: 378px;
        float: none;
        overflow: hidden;
      }
      .node__meta span,
      p {
        color: #fff;
      }
      .tags {
        > div div a {
          border-right: solid 1px #fbfbfb;
          color: #fbfbfb;
        }
      }
    }
    .copyrighted-image {
      p {
        display: none;
      }
    }
    article {
      header {
        width: 60%;
        float: right;
      }
      h2 {
        width: 100%;
        font-size: 24px;
        a {
          color: #4a4a4a;
        }
      }
    }
    .node__content {
      width: 42%;
      float: left;
      @media (max-width: 640px) {
        width: 100%;
        float: none;
        overflow: hidden;
      }
    }
    .content {
      width: calc(58% - 40px);
      float: left;
      padding: 20px;
      @media (max-width: 640px) {
        width: 100%;
        float: none;
        overflow: hidden;
      }
    }
    img {
      width: 100%;
      height: 100%;
      max-height: 172px;
      @media (max-width: 640px) {
        max-height: none;
      }
    }
    .node__meta {
      display: none;
    }
  }
}
// homepage our work event
.node--type-our-work {
  .node--type-event {
    .figure {
      > div {
        div:first-child {
          @extend .sr-only;
        }
      }
    }
  }
}
// homepage our work news
.our-work-in-action .node--type-our-work {
  .item {
    .node--type-news {
      .tags div div {
        display: block;
      }
      .tags div div:first-child {
        display: block;
      }
    }
    @media (max-width: 640px) {
      width: 100%;
      height: auto;
      float: none;
      overflow: hidden;
    }
  }
}
.our-work-in-action {
  .item:first-child {
    .tags {
      > div {
        div {
          a {
            border-right: solid 1px #fbfbfb;
          }
          div:last-child {
            a {
              border: none;
            }
          }
        }
      }
    }
  }
  // success story promo
  .node--type-success-story {
    .tags {
      > div {
        > div:first-child {
          display: none;
        }
        div {
          a {
            border-right: solid 1px #4a4a4a;
          }
          div:last-child {
            a {
              border: none;
            }
          }
        }
      }
    }
  }
}
.browse-link {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  a {
    display: block;
    color: #fff;
  }
}
.home-latest {
  .header {
    overflow: hidden;
    border-bottom: solid 1px #ddd;
    margin-bottom: 30px;
    @media (max-width: 992px) {
      margin: 0 20px;
    }
    h3 {
      display: inline-block;
      font-weight: 400;
      margin: 0 0 10px 0;
    }
    a {
      font-size: 18px;
      font-weight: 600;
      float: right;
    }
  }
  .latest-events {
    width: 100%;
    display: inline-block;
    .column-one-half {
      width: 465px;
      height: 155px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
      overflow: hidden;
      margin-bottom: 26px;
      padding: 20px;
      &:nth-child(even) {
        margin-left: 13px;
      }
      &:nth-child(odd) {
        margin-right: 13px;
      }
    }
    .views-field-field-event-date {
      height: 30px;
      line-height: 30px;
      display: inline-block;
      padding: 0 10px;
      margin-bottom: 10px;
      background: #e0f0fa;
      .field-content {
        font-size: 16px;
        &:before {
          font-family: FontAwesome;
          font-size: 20px;
          content: "\f133";
          padding-right: 10px;
          color: $cta;
        }
      }
    }
    .views-field-title {
      font-size: 18px;
      font-weight: 600;
    }
    .views-field-body {
      p {
        font-size: 16px;
        &:after {
          content: "..";
          margin-left: -2px;
        }
      }
    }
  }
  .sign-up-form {
    margin-bottom: 60px;
    background: $cta;
    h3 {
      position: relative;
      font-size: 22px;
      padding: 20px 0 20px 120px;
      margin: 0;
      color: #fff;
      &:before {
        position: absolute;
        left: 28px;
        top: 28px;
        font-family: FontAwesome;
        font-size: 48px;
        content: "\f133";
        color: #fff;
      }
    }
    form {
      position: relative;
      padding: 24px 44px 34px 0;
      .form-text {
        height: 40px;
        font-style: normal;
        font-size: 18px;
        border: none;
        padding-right: 50px;
      }
    }
    .form-label {
      font-size: 18px;
      padding-bottom: 7px;
      color: #fff;
    }
    .ss-submit {
      width: 45px;
      height: 40px;
      position: absolute;
      bottom: 32px;
      right: 46px;
      .button {
        width: 45px;
        font-size: 18px;
        border: none;
        box-shadow: none;
        padding: 7px 0;
        color: #fff;
        background: #4a4a4a;
      }
    }
    // Find news
    &.find-news {
      background: #4a4a4a;
      h3 {
        font-size: 26px;
        padding: 20px;
        &:before {
          display: none;
        }
      }
      form {
        padding: 30px 44px 50px 0;
      }
      .form-text {
        padding-right: 104px;
      }
      .form-label {
        font-size: 16px;
        font-weight: 400;
      }
      .ss-submit {
        width: 104px;
        text-align: center;
        bottom: 48px;
        .button {
          width: 104px;
          background: $cta;
        }
      }
    }
  }
  .latest-news {
    margin-bottom: 30px;
    .figure {
      > div {
        div:first-child {
          @extend .sr-only;
        }
      }
    }
    .node--view-mode-news-homepage {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
    }
    .content {
      padding: 16px;
    }
    // date
    .node__meta span {
      height: 30px;
      line-height: 30px;
      display: inline-block;
      font-size: 16px;
      padding: 0 10px;
      margin-bottom: 10px;
      background: #e0f0fa;
      &:before {
        font-family: FontAwesome;
        font-size: 20px;
        content: "\f133";
        padding-right: 10px;
        color: $cta;
      }
    }
    p {
      min-height: 64px;
      font-size: 16px;
    }
    h2,
    .read-more {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
@media (min-width: 641px) and (max-width: 991px) {
  #global-header {
    .home-header-background {
      .views-element-container .node--type-homepage-quote article p {
        font-size: 24px;
      }
    }
  }
  .home-latest {
    .column-one-third {
      width: 100%;
      float: none;
    }
  }
  .our-work-in-action {
    h3.heading-medium {
      margin-left: 0;
      margin-right: 0;
    }
    .grid-row {
      margin: 0;
    }
    .item {
      &:first-child {
        width: 100%;
        min-height: 1px;
        float: none;
        .node__content {
          width: 42%;
          float: left;
        }
        .content {
          width: calc(58% - 40px);
          float: left;
          padding: 20px;
        }
      }
    }
    .item {
      width: 100%;
      height: auto;
      float: none;
      img {
        max-height: none;
      }
    }
  }
  .quote-and-near-me {
    .quote {
      display: none;
    }
    .column-one-third {
      width: 100%;
    }
    &.grid-row {
      margin: 0 0 15px 0;
    }
  }
  .home .find-partners {
    padding: 15px;
    h2 {
      font-size: 32px;
      margin: 20px 0 0 0;
    }
    #opportunity-super-search-form {
      padding: 10px 0 10px 0;
      label {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
      }
    }
    .search-container {
      #opportunity-super-search-form {
        .ss-submit {
          bottom: 0;
        }
      }
    }
  }
  .home-latest {
    .events.container {
      .header {
        margin: 0 15px 30px 15px;
      }
    }
    .latest-events {
      width: auto;
      margin: 0 15px;
      .column-one-half {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
        &:nth-child(2n) {
          margin-left: 0;
        }
        &:nth-child(2n + 1) {
          margin-right: 0;
        }
      }
    }
    .sign-up-form {
      margin: 0 15px 40px 15px;
      h3 {
        padding: 50px 15px 15px 15px;
        &:before {
          font-size: 24px;
          left: 15px;
          top: 15px;
        }
      }
      .grid-row {
        margin: 0;
      }
      form {
        padding: 52px 15px 15px 15px;
      }
      .form-label {
        font-weight: normal;
      }
      .ss-submit {
        bottom: 13px;
        right: 18px;
      }
    }
    .latest-news {
      .node--view-mode-news-homepage {
        margin-bottom: 15px;
      }
      .grid-row {
        margin: 0 0 10px 0;
      }
      .figure {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .node__meta span {
        font-weight: 600;
      }
      p {
        min-height: 1px;
      }
    }
  }
}
@media (min-width: 641px) {
  .homepage-carousel.owl-carousel {
    display: block !important;
  }
}
@media (max-width: 640px) {
  .partner-icons {
    display: none;
  }
  #global-header {
    background: #fff;
    &:after {
      display: none;
    }
    .home-header-background {
      height: 370px;
      h1 {
        font-size: 28px;
        margin-top: 80px;
        margin-bottom: 28px;
      }
      .homepage-carousel {
        a {
          line-height: 36px;
          font-size: 16px;
          padding: 0;
        }
      }
      .homepage-quote-container {
        margin: -60px 10px 20px 10px;
        @media (min-width: 640px) {
          margin: 50px 10px 20px 10px;
        }
        .node--type-homepage-popup-video {
          width: 260px;
          float: left;
        }
      }
      .views-element-container {
        .node--type-homepage-quote {
          padding: 0 0 170px 0;
          article {
            p {
              font-size: 24px;
            }
            .quote-author,
            .quote-author-company {
              font-size: 16px;
            }
          }
        }
      }
      .popup-container {
        position: static;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        margin: -176px auto 0 auto;
      }
    }
  }
  .homepage-carousel {
    position: relative;
    .item {
      margin: 0;
    }
    .owl-nav {
      div {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        overflow: hidden;
        text-indent: -5000px;
        color: #4a4a4a;
        background: rgba(255, 255, 255, 0.7);
        &:before {
          display: block;
          text-indent: 0;
          font-size: 20px;
          font-family: FontAwesome;
          padding-top: 3px;
        }
      }
    }
    .owl-prev {
      left: 0;
      &:before {
        content: "\f053";
      }
    }
    .owl-next {
      right: 0;
      &:before {
        content: "\f054";
      }
    }
  }
  .our-work-in-action {
    h3.heading-medium {
      font-size: 24px;
      margin: 0 0 15px 0;
    }
    .grid-row {
      margin: 0;
    }
    .item {
      &:first-child {
        width: auto;
        min-height: auto;
        img {
          width: auto;
          height: auto;
          margin: 0;
          @media (max-width: 320px) {
            max-width: 320px;
          }
          @media (min-width: 321px) and (max-width: 360px) {
            max-width: 360px;
          }
          @media (min-width: 361px) and (max-width: 480px) {
            max-width: 480px;
          }
          @media (min-width: 481px) and (max-width: 640px) {
            max-width: 640px;
          }
        }
        .content {
          padding: 12px;
        }
        h2 {
          font-size: 20px;
        }
        .copyrighted-image {
          div {
            height: auto;
          }
        }
      }
      .node--type-blog-post {
        margin: 0;
      }
      .content {
        padding: 12px;
        h2 {
          font-size: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .home {
    .quote-and-near-me {
      &.grid-row {
        margin: 0 0 15px 0;
      }
    }
    .quote.column-two-thirds {
      display: none;
    }
    .near-me {
      .content {
        h3 {
          font-size: 24px;
          margin-bottom: 20px;
        }
      }
    }
    .find-partners {
      padding: 15px;
      h2 {
        font-size: 32px;
        margin: 20px 0 0 0;
      }
      #opportunity-super-search-form {
        padding: 10px 0 10px 0;
        label {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
      .search-container {
        #opportunity-super-search-form {
          .ss-submit {
            bottom: 0;
          }
        }
      }
    }
  }
  .home-latest {
    .header {
      border-bottom: solid 1px #ddd;
      padding-bottom: 15px;
      margin: 0 15px 15px;
      h2,
      h3,
      a {
        display: block;
        float: none;
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
      }
      h3 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }
      a {
        font-size: 18px;
      }
    }
    .latest-events {
      width: auto;
      margin: 0 15px;
      .column-one-half {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 15px;
        &:nth-child(2n) {
          margin-left: 0;
        }
        &:nth-child(2n + 1) {
          margin-right: 0;
        }
      }
    }
    .sign-up-form {
      margin: 0 15px 40px 15px;
      h3 {
        padding: 50px 15px 15px 15px;
        &:before {
          font-size: 24px;
          left: 15px;
          top: 15px;
        }
      }
      .grid-row {
        margin: 0;
      }
      form {
        padding: 10px 15px 15px 15px;
      }
      .form-label {
        font-weight: normal;
      }
      .ss-submit {
        bottom: 13px;
        right: 18px;
      }
    }
    .latest-news {
      .node--view-mode-news-homepage {
        margin-bottom: 15px;
      }
      .grid-row {
        margin: 0 0 10px 0;
      }
      .figure {
        img {
          width: 100%;
          height: 100%;
        }
      }
      .node__meta span {
        font-weight: 600;
      }
      p {
        min-height: 1px;
      }
    }
    .sign-up-form.find-news {
      margin: 15px;
      h3 {
        font-size: 24px;
        padding: 15px 0 0 0;
      }
      form {
        padding: 30px 0 15px 0;
      }
      .ss-submit {
        font-size: 18px;
        bottom: 13px;
        right: 2px;
      }
    }
  }
}
