/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2017, 4:24:53 PM
    Author     : jasongoodenough
*/


// user loggin page (/user/1)

.user-account {
    .content-heading {
        padding-bottom:10px;
        a {
            font-size:18px;
            span {
                color:#4a4a4a;
            }
        }
    }
    @media (max-width: 640px) {
        .button {
            max-width:226px;
            font-size:18px;
        }
    }
    strong {
        font-weight:600;
    }
    .content-heading {
        h3 {
            font-size:24px;
            font-weight:600;
        }
    }
    .profile-details {
        background:#f5fafd;
        margin-top:18px;
        padding:10px 28px 0 28px;
        
        li {
            border-bottom:solid 1px #eaf5fb;
            overflow:hidden;
            padding:18px 0;
            > span {
                width:40px;
                height:65px;
                line-height:65px;
                font-size:24px;
                display:inline-block;
                float:left;
                text-align:center;
                margin:0 24px 0 0;
                background:#e0f0fa;
                @media (max-width: 640px) {
                    display:none;
                }
            }
            .fa {
                color:$cta;
            }
            p {
                line-height:1.2em;
                margin:0;
                @media (max-width: 640px) {
                    margin-bottom:10px;
                }
                span {
                    @media (max-width: 640px) {
                        display:block;
                    }
                }
            }
            strong {
                width:180px;
                display:inline-block;
            }
            &:last-child {
                border:none;
                strong {
                    height:64px;
                    float:left;
                }
            }
        }
    }
    .newsletter {
        @media (max-width: 640px) {
            strong {
                display:block;
            }
        }
    }
    .alerts {
        margin-top:-1px;
        padding: 0;


        li {
           border:solid 1px #e0f0fa; 
           margin-bottom:10px;
           background:rgba(224,240,250,0.3);
           list-style: none;
            margin-left: 0;
        }
        div {
            display:inline-block;
            padding:15px 10px;
            &.buy {
                padding-left:15px;
            }
            @media (max-width: 640px) {
                display:block;
            }
        }
        legend {
            width:100%;
            display:block;
            border-bottom:solid 1px #e0f0fa;
            h3 {
                display:inline-block;
                font-size:18px;
                margin:7px 0 7px 15px;
                a {
                    @media (max-width: 640px) {
                        display:block;
                    }
                }
            }
            .remove {
                display:inline-block;
                font-size:16px;
                float:right;
                margin:12px 15px 7px 0;
                @media (max-width: 640px) {
                    width:100%;
                    float:none;
                    margin-left:15px;
                }
            }
        }
        label {
            font-size:16px;
        }
    }
    .partnership {
        li {
            min-height:166px;
            overflow:hidden;
            border:solid 1px #e0f0fa; 
            margin-bottom:10px;
        }
        .col-1 {
            width:8%;
            float:left;
            text-align:center;
            @media (max-width: 640px) {
                width:100%;
                text-align:left;
            }
            .fa {
                padding:8px 10px 8px 10px;
                margin:16px;
                color:$cta;
                background:#e0f0fa;
            }
        }
        .col-2 {
            width:79%;
            float:left;
            padding-top:16px;
            p:first-child {
                margin:0;
            } 
            @media (max-width: 640px) {
                width:100%;
                padding:0 15px;
            }
        }
        .col-3 {
            width:13%;
            min-height:83px;
            float:right;
            text-align:center;
            box-shadow: inset 1px 0px 0px 0px #e0f0fa;
            padding-top:16px;
            @media (max-width: 640px) {
                width:100%;
                text-align:left;
                float:none;
                .button {
                    margin:0 15px 15px 15px;
                }
            }
        }
    }
    .events-list {
        li {
            height:83px;
            border:solid 1px #e0f0fa;
            background:rgba(224,240,250,0.3);
            margin-bottom:10px;
            @media (max-width: 640px) {
                height:auto;
                border-top:0;
                margin-bottom:0;
                &:first-of-type {
                    border-top:solid 1px #e0f0fa;
                    border-bottom:0;
                }
            }
        }
        .date {
            width:25%;
            float:left;
            font-size:16px;
            border-right:solid 1px #e0f0fa;
            @media (max-width: 640px) {
                width:100%;
                float:none;
            }
            .fa {
                float:left;
                padding:8px 10px 8px 10px;
                margin:16px;
                color:$cta;
                background:#e0f0fa;
            }
            span {
                font-size:18px;
                line-height:16px;
                display:block;
                font-weight:600;
                margin:16px 0 3px 0;
                @media (max-width: 640px) {
                    padding-top:16px;
                }
            }
        }
        .event-info {
            width:auto;
            float:left;
            padding:14px 25px;
            
            h3 {
                font-size:18px;
                font-weight:600;
                margin-bottom:2px;
                @media (max-width: 640px) {
                    line-height:1.3em;
                }
            }
            p {
                font-size:18px;
                line-height:16px;
                margin:0;
                @media (max-width: 640px) {
                    line-height:1.3em;
                }
            }
        }
        .cta {
            width:14%;
            float:right;
            text-align:center;
            padding-top:16px;
            @media (max-width: 640px) {
                width:100%;
                float:none;
                text-align:left;
                .button {
                    margin:0 15px 15px 15px;
                }
            }
        }
    }
}

.preferences .user-account {
    margin-top:60px;
}